[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
anytree = "*"
streamlit = "*"
sklearn = "*"
matplotlib = "*"
graphviz = "*"
pyqt5-qt = "*"
pip = "*"

[dev-packages]

[requires]
python_version = "3.9"
